.main_panale{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_form{
    width: 23%;
    height: 50%;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#box_lable{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
 #icon_image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
 }
 #box_form{
    width: 100%;
    height: 44%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   }

input{
    width: 80%;
    height: 40px;
    border: none;
    border-bottom:1px solid ;
    resize: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
}

 #box_button{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn_login{
    width: 41%;
    height: 36%;
    background-color: blue;
    color: azure;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius:20px;
    cursor: pointer;
    
}

#btn_login:hover{
    background-color: rgb(8, 100, 161);
}

#a_login{
    text-decoration: none;
    color: white;
}