*{
    box-sizing: border-box;
}

.container{
    padding: 16px;
    background-color: white;
}

input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background:rgb(227, 227, 225);
}

input[type=text]:focus{
    background-color: rgb(233, 223, 223);
    outline: none;
}

hr{
    border: 1px solid #ffffff;
    margin-bottom:25px;
}

.registerbtn{
    background-color:#047e37;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover{
   opacity: 1;
}

a{
    color: dodgerblue;
}

.signin{
    background-color: #f1f1f1;
    text-align: center;
}

table{
    width: 100%;
}